.el-timeline .el-timeline-item:last-child .el-timeline-item__tail{
	display: block;
    height: 100%
}
.el-timeline-item__node{
    background-color: #747d8c;
}
 .el-timeline-item__tail {
    border-left: 2px solid #70a1ff;
 }
